.list {
    all: unset;
}
.item {
    all: unset;
    position: relative;
    display: flex;
    align-items: center;
}

.grabberIcon {
    user-select: none;
    inline-size: 1em;
    block-size: 1em;
    font-size: 2.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}
