.list {
    all: unset;
}
.item {
    all: unset;

    position: relative;
    display: flex;
    align-items: center;
}

.grabberIcon {
    user-select: none;
    inline-size: var(--line);

    display: flex;
    justify-content: center;
    align-items: center;
}
