.button {
    display: block;
}
.editableTitle {
    display: block;
}

.titleAndInputWrapper {
    position: relative;
}

    /* block-size: */
.titleAndInputWrapper, .title, .titleAndInput {
    display: block;
}

.editForm {
    display: block;
}
.float {
}

.submit {
}


.editForm {
    display: flex;
    align-items: center;
}
.editForm[data-editing="true"] {
    border-radius: 0.8ch;

    background-color: var(--field);
    color: var(--field-text);

    outline-style: solid;
    outline-width: 0.15rem;
    outline-color: var(--button-border);

}

.input {
    all: unset;
    display: inline-block;
    min-block-size: var(--line);
    min-inline-size: 30ch;
    cursor: text;
    caret-color: var(--highlight-text) ;
}

.editForm[data-editing="true"][data-focus="true"] {
    outline-color: var(--highlight-text);
}
