.button {
    all: unset;
    user-select: none;
    touch-action: none;

    padding-block: calc(0.5 * var(--line));
    margin-block: calc(0.5 * var(--line));

    padding-inline: calc(0.3 * var(--line));
    margin-inline: calc(0.5 * var(--line));

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.7em;

    font-size: 1.5625rem;
}

.button {
    cursor: grab;
}
.button:active {
    cursor: grabbing;
}

.button {
    background-color: var(--canvas);
    color: var(--emphasis-text);
    outline-color: var(--button-border);
}
.button:hover {
    outline-style: solid;
    background: var(--button-face);
    color: var(--button-text);
}

.button:focus-visible {
    border-color: var(--accent-color-text) ;
}

.button:active {
    background-color: var(--button-text) ;
    color: var(--button-face) ;
}

.button[aria-expanded="true"] {
    background-color: var(--button-text) ;
    color: var(--button-face) ;
}
.button:focus {
    outline-style: solid;
    outline-color: var(--highlight-text) ;
    outline-width: 3px;
}
