.dl, .dd, .dt {
    all: unset;
    display: block;
}
.dl {
    inline-size: var(--measure);
    max-inline-size: 100%;
}
.dt {
    clear: left;
    float: left;
}
.dd {
    clear: right;
    float: right;
}

@media screen {
    .dl {
        margin-inline-start: calc(1.5 * var(--s));
    }
}
