.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    all: unset;

    cursor: default;

    margin-inline: 0.5em;

    padding-inline: 0.5ch;
    padding-block: 0.25em;
    margin-block: 0.5em;

    border-style: solid;
    border-width: 2px;
    border-radius: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}


.button:focus {
    outline-width: 2px;
    outline-style: solid;
}

.button {
    background: var(--button-face);
    color: var(--button-text);
    border-color: var(--button-border);
}

/* FIXME differentiate states */
.button[data-hover] {
    background: var(--button-text);
    border-color: var(--button-face);
    color: var(--button-face);
}

.button[data-active] {
    border-color: var(--accent-color-text) ;
    background-color: var(--accent-color) ;
    color: var(--accent-color-text) ;
}

.button[aria-expanded="true"]:not(:active) {
    background: var(--button-text);
    border-color: var(--button-face);
    color: var(--button-face);
}

.button[disabled] {
    background: var(--button-text);
    border-color: var(--button-face);
    color: var(--button-face);
}
