.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    all: unset;

    cursor: default;

    margin-inline: calc(0.5 * var(--line));
    padding-inline: calc(0.25 * var(--line));
    padding-block: calc(0.25 * var(--line));
    margin-block: calc(0.25 * var(--line));

    border-radius: 0.89em;
    outline-style: solid;
    outline-width: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.button:focus {
    outline-width: 3px;
    outline-color: var(--highlight-text);
}

.button {
    background: var(--button-face);
    color: var(--button-text);
    border-color: var(--button-border);
}

/* FIXME differentiate states */
.button[data-hover] {
    background: var(--button-text);
    border-color: var(--button-face);
    color: var(--button-face);
}

.button[data-active] {
    border-color: var(--accent-color-text) ;
    background-color: var(--accent-color) ;
    color: var(--accent-color-text) ;
}

.button[aria-expanded="true"]:not(:active) {
    background: var(--button-text);
    border-color: var(--button-face);
    color: var(--button-face);
}

.button[disabled] {
    background: var(--button-text);
    border-color: var(--button-face);
    color: var(--button-face);
}
