.editButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.editButton {
    all: unset;

    cursor: default;
    background: var(--button-face);
    color: var(--button-text);
    border-color: var(--button-text);

    margin-block: 0.3em;
    margin-inline: 0.4em;

    border-style: solid;
    border-width: 1px;
    border-radius: 0.4em;

    padding-inline: 0.3em;
    padding-block: 0.2em;

    display: flex;
    justify-content: center;
    align-items: center;
}


.editButton[aria-expanded="true"]:not(:active) {
    background: lightgrey;
}

.editButton[disabled] {
    background: lightgrey;
    border-color: grey;
    color: #333;
}

.editButton:focus {
    outline-width: 2px;
    outline-style: solid;
}

.editButton[data-hover] {
    background: lightblue;
}

.editButton[data-active] {
    background: lightgreen;
}
