.icon {
    user-select: none;

    inline-size: 1em;
    block-size: 1em;


    font-size: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
