.buttonWrapper {
    display: contents;
}

.button {
    all: unset;
    user-select: none;
    touch-action: none;

    padding-block: calc(0.4 * var(--line));
    margin-block: calc(0.1 * var(--line));

    padding-inline: calc(0.4 * var(--line));
    margin-inline: calc(0.1 * var(--line));

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;

    font-size: 1.5625rem;

    color: var(--emphasis-text);
}

.button:focus {
    background: var(--button-face);
    color: var(--button-text);
}

.button:not([data-active]) {
    cursor: grab;
}

.button {
    &[data-hover], &[data-active], &[aria-expanded="true"], &:focus {
        outline-style: solid;
    }
}

.button[data-hover] {
    background: var(--button-text);
    color: var(--button-face);
}

.button[aria-expanded="true"] {
    background: var(--button-text);
    color: var(--button-face);
}

.button[data-active] {
    background-color: var(--accent-color) ;
    color: var(--accent-color-text) ;
}

.button:focus {
    outline-width: 3px;
    outline-color: var(--highlight-text);
}
.button:not(:focus) {
    &[data-hover] {
        outline-color: var(--button-face);
    }

    &[data-active] {
        outline-color: var(--accent-color-text) ;
    }

    &[aria-expanded="true"] {
        outline-color: var(--button-face);
    }

    &[disabled] {
        outline-color: var(--button-face);
    }
}
