.dropWrapper {
    position: relative;
}
.dropZone {
    all: unset;

    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    inline-size:100%;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
}
.dropZone:focus {
    outline: solid;
    outline-width: 2px;
}

.dropZone[disabled] {
    display: none;
}


.wrapper {
    display: contents;
}


.dropZone {
    background: #0001;
}
.dropZone[data-hover] {
    background: #0002;
}
.dropZone[data-active] {
    background: #1402;
}

@media screen and (prefers-color-scheme: dark) {
    .dropZone {
        background: #FFF1;
    }
    .dropZone[data-hover] {
        background: #FFF2;
    }
}
