.item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "marker title    title"
        ".      title    title"
        ".      metadata widgets";
}

.marker {
    grid-area: marker;
}
.metadata {
    grid-area: metadata;
}
.freshItem {
    grid-area: title;
}
.widgets {
    grid-area: widgets;
}

.disclosureButton {
    float: left;
    display: flex;
    align-items: start;
}

.disclosure {
    flex-grow: 1;
}


.inputWrapper {
    display: flow-root;
}

/* FIXME: covers over button */
.input::part(input-wrapper) {
    /* position: relative; */
}

.input::part(input-inner) {
    all: unset;
}

.title, .input::part(input) {
    all: unset;
    display: block;
    box-sizing: border-box;
    padding-inline: 1ch;
    padding-block: calc(0.5 * var(--line));
    min-block-size: calc(2 * var(--line));
    caret-color: var(--highlight-text);
    cursor: text;
    font-size: 1.25rem;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

.input::part(error-anchor) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 1px;
}
.input::part(input) {
    background-color: var(--field);
    color: var(--field-text);
    outline-style: solid;
    outline-width: 0.15rem;
    outline-color: var(--button-border);
    border-radius: 0.8ch;
}
.input:focus {
    outline-style: solid;
    outline-width: 0.2rem;
    outline-color: var(--highlight-text);
}

.input:invalid {
    outline-color: red;
}
