.item {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
}
.itemContent {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}


.metadata {
    padding-inline-start: 4ch;
}

.disclosureButton {
    float: left;
    display: flex;
    align-items: start;
}

.disclosure {
    flex-grow: 1;
}


.inputWrapper {
    display: flow-root;
    flex-grow: 1;
    flex-shrink: 1;
}
.input {
    all: unset;

    display: block;

    padding-block: calc(0.5 * var(--line));
    padding-inline-start: 1ch;
    box-sizing: border-box;

    font-size: 1.25rem;
    overflow-wrap: anywhere;
    white-space: wrap;
    word-break: break-all;
}


.freshItem {
    display: flex;
    align-items: center;

    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    margin-block-start: calc(0.5 * var(--line));
    margin-block-end: calc(0.5 * var(--line));

    border-radius: 0.8ch;
    outline-width: 0.15rem;
    outline-color: var(--button-border);
}
.freshItem[data-selected="true"] {
    background-color: var(--field);
    color: var(--field-text);
    outline-style: solid;
}
.freshItem[data-focus="true"] {
    outline-width: 0.2rem;
    outline-color: var(--highlight-text);
}
