.item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "marker title    ."
        ".      title    ."
        ".      metadata widgets";
}

.marker {
    grid-area: marker;
}
.metadata {
    grid-area: metadata;
}
.freshItem {
    grid-area: title;
}
.widgets {
    grid-area: widgets;
}

.disclosureButton {
    float: left;
    display: flex;
    align-items: start;
}

.disclosure {
    flex-grow: 1;
}


.inputWrapper {
    display: flow-root;
}
.input {
    all: unset;
    display: block;

    padding-block: calc(0.5 * var(--line));
    padding-inline: 1ch;
    box-sizing: border-box;

    font-size: 1.25rem;
    overflow-wrap: anywhere;
    white-space: wrap;
    word-break: break-all;
}


.freshItem {
    border-radius: 0.8ch;
    outline-width: 0.15rem;
    outline-color: var(--button-border);
}
.freshItem[data-selected="true"] {
    background-color: var(--field);
    color: var(--field-text);
    outline-style: solid;
}
.freshItem[data-focus="true"] {
    outline-width: 0.2rem;
    outline-color: var(--highlight-text);
}
