.item {
    flex-grow: 1;
}
.widgets {
    float: inline-end;
}

.disclosureButton {
    margin-inline-end: 1ch;
    float: inline-start;
    display: flex;
    align-items: start;
}

.disclosure {
    flex-grow: 1;
}

.input {
    color: var(--field-text);
}

.title {
    all: unset;
    display: block;
    box-sizing: border-box;
    font-size: 1.25rem;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}


.caretWrapper {
}
.caret {
    caret-color: var(--highlight-text);
    outline: none;
}

.input {
    all: unset;
    display: block;
    cursor: text;
}
.input, .notedit {
    box-sizing: border-box;

    margin-inline: 1ch;
    padding-block: calc(0.5 * var(--line));
    min-block-size: cavar(--line);
}

.info {
    float: inline-end;
    margin-block-start: calc(0.5 * var(--line));
    margin-inline-end: 1ch;
    font-size: 1rem;
    min-inline-size: 5em;
    min-block-size: var(--line);
    text-align: end;
}

.titleLabel {
    display: none;
}


.inputWrapper {
    all: unset;
    display: block;
    /* display: flow-root; */
}

.inputWrapper[data-selected="true"] {
    background-color: var(--field);
    color: var(--field-text);
    outline-style: solid;
    outline-width: 0.15rem;
    outline-color: var(--button-border);
    border-radius: 0.8ch;
}

.inputWrapper[data-focus="true"] {
    outline-style: solid;
    outline-width: 0.2rem;
    outline-color: var(--highlight-text);
}


@media print {
    .disclosureButton, .widgets {
        display: none;
    }
}
