.input::part(input-inner) {
    all: unset;
}

.input::part(input) {
    all: unset;
    display: block;
    box-sizing: border-box;
    caret-color: var(--highlight-text);
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

.input::part(error-anchor) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 1px;
}

.input {
    display: block;
    /* position: relative; */

}
