.input {
    all: unset;

    border-radius: 0.8ch;

    background-color: var(--field);
    color: var(--field-text);

    padding-inline: 0.5ch;

    /* padding-block: calc(0.25 * var(--line)); */
    margin-block: calc(0.25 * var(--line));

    cursor: caret;

    outline-style: solid;
    outline-width: 0.15rem;
    outline-color: var(--button-border);
}

.input:focus {
    outline-color: var(--highlight-text);
}
.input:focus-visible {
    outline-width: 0.2rem;
}
