.list {
    all: unset;
    display: flex;
    flex-direction: column;
}

.item {
    all: unset;
    display: flex;
    margin-block: calc(0.5 * var(--line));
}

.tick {
    display: block;
    font-size: 1.5625rem;
    margin-inline: 0.6em 0.7em;
    color: var(--emphasis-text);
}
