.item, .list {
    all: unset;
}

.list {
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    margin-block: calc(0.5 * var(--line));
}

.tick {
    color: var(--emphasis-text);
    font-size: 1.5625rem;
    margin-inline: calc(0.5 * var(--line));
}
