.item, .list {
    all: unset;
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--line);
}

.item {
    /* display: flow-root; */
    max-inline-size: 40em;
}

.marker {
    float: inline-start;
    color: var(--emphasis-text);
    font-size: 1.5625rem;
    margin-inline: calc(0.5 * var(--line));
}

.content {

}

.complete {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    max-inline-size: 40em;
}

.dates {
    display: flex;
    flex-direction: column;
}
