.list {
    all: unset;
    display: flex;
    flex-direction: column;
}
.item {
    all: unset;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
}

.grabberIcon {
    user-select: none;
    inline-size: var(--line);

    display: flex;
    justify-content: center;
    align-items: center;
}
