.list {
    all: unset;
    display: flex;
    flex-direction: column;
}
.item {
    all: unset;
    display: flow-root;
    max-inline-size: 40em;
    position: relative;
    padding-inline-start: 1ch;
}
.itemMarker {
    float: inline-start;
}

.grabberIcon {
    user-select: none;
    inline-size: var(--line);

    display: flex;
    justify-content: center;
    align-items: center;
}
